FlacExtractor can detect spurious/garbage FLAC frame headers within encoded FLAC data

### Version

Media3 1.1.0

### More version details

_No response_

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the media with ffmpeg extension enabled for flac.

### Expected result

Either the media have 2 small glitches like when playing with VLC, or the media stops at the invalid data like with the Pixel MediaCodec decoder, or the media stays in buffering state.

Current behavior can't be properly detected by code and the user only see constant flash between buffering and playing and do not understand if there's an issue on the media or the player or network issues.

### Actual result

The media get stuck and ExoPlayer keeps switching between playing and buffering.

``` 
2023-08-02 15:21:17.807 T:ExoPlayer 
state [eventTime=162.93, mediaPos=121.83, window=0, period=0, BUFFERING]
2023-08-02 15:21:17.807 T:ExoPlayer 
isPlaying [eventTime=162.93, mediaPos=121.83, window=0, period=0, false]
2023-08-02 15:21:17.810 T:ExoPlayer 
state [eventTime=162.94, mediaPos=121.83, window=0, period=0, READY]
2023-08-02 15:21:17.811 T:ExoPlayer 
isPlaying [eventTime=162.94, mediaPos=121.83, window=0, period=0, true]
2023-08-02 15:21:17.968 T:ExoPlayer 
state [eventTime=163.10, mediaPos=121.83, window=0, period=0, BUFFERING]
2023-08-02 15:21:17.975 T:ExoPlayer 
isPlaying [eventTime=163.10, mediaPos=121.83, window=0, period=0, false]
2023-08-02 15:21:17.980 T:ExoPlayer 
state [eventTime=163.10, mediaPos=121.83, window=0, period=0, READY]
2023-08-02 15:21:17.981 T:ExoPlayer 
isPlaying [eventTime=163.10, mediaPos=121.83, window=0, period=0, true]
```

Above logs is repeated indefinitively.


### Media

Sent by mail.

### Bug Report

- [ ] You will email the zip file produced by `adb bugreport` to dev.exoplayer@gmail.com after filing this issue.

Bump, still happens on last version and still very disturbing for users.

It's actually Google ideology here ;) But thank again for the nice bad rating on Play Store for an issue you can fix in 10 seconds with flac command line that you are well aware of ;)

Ok, it sounds like this library needs to expose some kind of error when encountering a corrupted file as opposited to stalling with the repeated play/pause events, then.

@rohitjoins Were you able to recreate the issue here? Do you need any more samples of affected files?

> or the media stops at the invalid data like with the Pixel MediaCodec decoder

This sounds similar to https://github.com/androidx/media/issues/2587.

What behaviour do you see when playing the file in this issue with the [FLAC extension](https://github.com/androidx/media/tree/release/libraries/decoder_flac)?

> Just need a way to detect.

Does ffmpeg throw an error that we **could** detect if we were looking for it? If not, then I think (just as you point out this isn't your issue to solve in the [thread](https://support.symfonium.app/t/some-flac-files-not-playing/9576) linked above), this is likely an issue to report to ffmpeg. If there **is** an ffmpeg error thrown that we could detect, please let us know the details of that.

In the general case, ExoPlayer cannot promise to detect all possible forms of invalid file and always throw an error. The expected behaviour of playing an invalid file with ExoPlayer is undefined.

@icbaker the file can be read by ffmpeg and ffplay without issue.

There is plenty of errors.

```
2025-07-14 11:13:00.574  5226-15644 ffmpeg-kit              app.symfonik.music.player.debug      E  [flac @ 0xb40000744e42ede0] decode_frame() failed
2025-07-14 11:13:00.575  5226-15644 ffmpeg-kit              app.symfonik.music.player.debug      E  [flac @ 0xb40000744e42ede0] bps not found in STREAMINFO or frame header
2025-07-14 11:13:00.575  5226-15685 ffmpeg_jni              app.symfonik.music.player.debug      E  Error in avcodec_send_packet: Invalid data found when processing input
```

This probably ends up here 
```
else if (result == AUDIO_DECODER_ERROR_INVALID_DATA) {
      // Treat invalid data errors as non-fatal to match the behavior of MediaCodec. No output will
      // be produced for this buffer, so mark it as skipped to ensure that the audio sink's
      // position is reset when more audio is produced.
      outputBuffer.shouldBeSkipped = true;
      return null;
    }
```

And then something wrong happens in ExoPlayer internals that goes in a loop. Probably some missing checks somewhere that the buffer to skip is not the same as the previous or something to detect the infinite loop.

But this is too deep inside ExoPlayer for me to debug.

> What behaviour do you see when playing the file in this issue with the [FLAC extension](https://github.com/androidx/media/tree/release/libraries/decoder_flac)?

For completeness: I tried this with the file emailed on 2023-08-02 with subject `Issue #558` and it plays to completion with the FLAC extension.

---

I also tried the file in https://github.com/androidx/media/issues/2587 with the ffmpeg extension. I see the same ffmpeg error logged at 1min as for the file in this issue:

```
Error in avcodec_send_packet: Invalid data found when processing input
```

But playback doesn't get stuck unlike with the file in this issue (and unlike when using the `c2.android.flac.decoder` decoder).

@icbaker  Ok doing more tests and check, the decoder actually only decode the duration of the maxBufferMs buffer so in my case 1 minute.

I don't see how this can properly be detected at the decoder level to workaround and return an error before reaching that stage.

But this is definitively something that should be handled at ExoPlayer level to avoid staying in buffering state for ever when the decoder only returns skipped buffer for the duration of the buffered data.

Yes sorry I should have been clear, that I was all talking about the new file sent by mail, I no more have the 2023 file as it was well a very long time ago.

So all my findings are related to that last file. This file does not even start to play due to all decode skipping.

I suppose this is now a completely different issue then sorry for the noise and not being clear enough. (Or it's the same but happens on the first frame eventually).

Anyway this is a little out of my league, can test anything you need, but I guess my inputs are irrelevant now that someone is looking into the issue. Thanks.

>  I was all talking about the new file sent by mail,

I haven't looked at this file until now (since i was able to repro the reported issue with the previous file).

Looking at it now, this file plays succesfully to completion with the MediaCodec FLAC decoder on a Pixel 7a at the tip of the `main` branch (i.e. with none of the hacks/fixes discussed in this issue).

It also plays to completion with the libflac extension.

I agree it fails with the ffmpeg decoder extension without playing any audio at all. It doesn't seem to be fixed by the fix for the other files in this issue described below.

I also see it reports `ERROR, MD5 signature mismatch` from `flac -t` (the previous file only reported a warning, and the file in #2587 reported OK). The issues with this file don't look related to the original file reported in this issue. You can file a new issue if you like, but since the FLAC command line tool confirms the file is invalid, we are unlikely to prioritize investigating it.

----

Back to how to fix `FlacExtractor` to avoid detecting extra frame headers.

From RFC 9639 section 6:

> In order to allow a decoder to start decoding at any place in the stream, each frame starts with a byte-aligned 15-bit sync code. However, since it is not guaranteed that the sync code does not appear elsewhere in the frame, the decoder can check that it synced correctly by parsing the rest of the frame header and validating the frame header CRC.

-----

Looking at the file from #2587. The spurious `frame=24` frame at offset `12206356` happens to have a matching CRC-8 (which is meant to be the protection against this from the RFC quoted above):

```
For sampleNum=110592, crc=60, expected_crc=60. bytesForCrc=0xfff8901018
```

Looking back at the RFC, it looks like the byte immediately following the CRC must be a subframe header (see section 9.2).
1. The first bit must be zero.
2. The following 6 bits have some reserved values. These may be used in a future FLAC spec, but I'm inclined to use them to reject spurious frames for now.

Adding that to the checks in `FlacFrameReader.checkAndReadFrameHeader` makes the file in #2587 playable with MediaCodec, and the original file provided as part of this issue too.


> Adding that to the checks in `FlacFrameReader.checkAndReadFrameHeader` makes the file in [#2587](https://github.com/androidx/media/issues/2587) playable with MediaCodec, and the original file provided as part of this issue too.

Hi icbacker, I am the reporter of [#2587], at the api level of exoplayer, how can I invoke it to enable the file to be played normally by mediacodec, or do I need to modify the underlying source code of exoplayer?


This is fixed by the commit linked above.

@jacobgkau don't rejoice this is not your issue ;)

But thanks @icbaker for the fix for the initial issue.