Request for H265 Support in Media3-ExoPlayer

I try to play an H265 encoded RTSP stream. I'm using the Media3-ExoPlayer library, specifically the `androidx.media3:media3-exoplayer-rtsp:1.2.1` dependency.

However, when trying to play an H265 encoded RTSP stream, I encountered an error in the "RtpH265Reader" class while handling aggregate packets (AP). The error message is "Required to implement processAggregationPacket".

From what I understand, AP is a special RTP packet type used to encapsulate multiple H265 NAL units in one RTP packet, as described in RFC7798 section 4.4.2. It seems that this part has not been implemented in the `RtpH265Reader` class.

I would be grateful if you would consider implementing support for H265 AP in a future version of Media3-ExoPlayer. This will enable the library to fully support H265 encoded RTSP streams, which will be a valuable feature for many developers.

Thanks for registering your interest in this! This feature request is already tracked by https://github.com/google/ExoPlayer/issues/11089. I'll mark it as a duplicate.