Can not play RTSP stream from camera

### Version

Media3 pre-release (alpha, beta or RC not in this list)

### More version details

1.8.0-beta01

### Devices that reproduce the issue

Andorid 9

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play rtsp stream from camera.

### Expected result

The rtsp stream plays successful.

### Actual result

Play error with logs below: 
```
2025-07-08 10:08:16.434  7423-7632  RtspClient              package_name          D  RTSP/1.0 200 OK
                                                                                                    CSeq: 3
                                                                                                    Transport: RTP/AVP/UDP;unicast;destination=source_ip;client_port=50318-50319;server_port=24302-24303;ssrc=c042c01;mode="PLAY"
                                                                                                    Session: 93763ba8df763ba8ba663ba838663ba;timeout=60
2025-07-08 10:08:16.435  7423-7632  RtspClient              package_name          D  SETUP rtsp://camera_ip/media/video2/audio1 RTSP/1.0
                                                                                                    User-Agent: AndroidXMedia3/1.8.0-beta01
                                                                                                    CSeq: 4
                                                                                                    Session: 93763ba8df763ba8ba663ba838663ba
                                                                                                    Authorization: Digest username="admin", realm="6cf17ee39150", nonce="4466d23959124cc3f035c7c622102fae", uri="rtsp://camera_ip/media/video2/audio1", response="18f6dc0f566f4bcbc920ec631c7c5596"
                                                                                                    Transport: RTP/AVP;unicast;client_port=45876-45877
2025-07-08 10:08:16.535  7423-7632  RtspClient              package_name          D  RTSP/1.0 200 OK
                                                                                                    CSeq: 4
                                                                                                    Transport: RTP/AVP/UDP;unicast;destination=;client_port=45876-45877;server_port=24304-24305;ssrc=cef4351;mode="PLAY"
                                                                                                    Session: 93763ba8df763ba8ba663ba838663ba;timeout=60
2025-07-08 10:08:16.536  7423-7632  RtspClient              package_name          D  PLAY rtsp://camera_ip:554/media/video2 RTSP/1.0
                                                                                                    User-Agent: AndroidXMedia3/1.8.0-beta01
                                                                                                    CSeq: 5
                                                                                                    Session: 93763ba8df763ba8ba663ba838663ba
                                                                                                    Authorization: Digest username="admin", realm="6cf17ee39150", nonce="4466d23959124cc3f035c7c622102fae", uri="rtsp://camera_ip:554/media/video2", response="8940c8f991b4e487104a0b42d35b2233"
                                                                                                    Range: npt=0.000-
2025-07-08 10:08:16.569  7423-7632  RtspClient              package_name          D  RTSP/1.0 200 OK
                                                                                                    CSeq: 5
                                                                                                    Range: npt=0Z-
                                                                                                    Session: 93763ba8df763ba8ba663ba838663ba
2025-07-08 10:08:16.576  7423-7632  ExoPlayerImplInternal   package_name          E  Playback error (Ask Gemini)
                                                                                                      androidx.media3.exoplayer.ExoPlaybackException: Source error
                                                                                                          at androidx.media3.exoplayer.ExoPlayerImplInternal.handleIoException(ExoPlayerImplInternal.java:926)
                                                                                                          at androidx.media3.exoplayer.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:902)
                                                                                                          at android.os.Handler.dispatchMessage(Handler.java:102)
                                                                                                          at android.os.Looper.loop(Looper.java:193)
                                                                                                          at android.os.HandlerThread.run(HandlerThread.java:65)
                                                                                                      Caused by: androidx.media3.exoplayer.rtsp.RtspMediaSource$RtspPlaybackException: androidx.media3.common.ParserException: npt=0Z- {contentIsMalformed=true, dataType=4}
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.handleRtspResponse(RtspClient.java:701)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.handleRtspMessage(RtspClient.java:531)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.lambda$onRtspMessageReceived$0$androidx-media3-exoplayer-rtsp-RtspClient$MessageListener(RtspClient.java:524)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener$$ExternalSyntheticLambda0.run(D8$$SyntheticClass:0)
                                                                                                          at android.os.Handler.handleCallback(Handler.java:873)
                                                                                                          at android.os.Handler.dispatchMessage(Handler.java:99)
                                                                                                          at android.os.Looper.loop(Looper.java:193) 
                                                                                                          at android.os.HandlerThread.run(HandlerThread.java:65) 
                                                                                                      Caused by: androidx.media3.common.ParserException: npt=0Z- {contentIsMalformed=true, dataType=4}
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspMessageUtil.checkManifestExpression(RtspMessageUtil.java:477)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspSessionTiming.parseTiming(RtspSessionTiming.java:51)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.handleRtspResponse(RtspClient.java:668)
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.handleRtspMessage(RtspClient.java:531) 
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener.lambda$onRtspMessageReceived$0$androidx-media3-exoplayer-rtsp-RtspClient$MessageListener(RtspClient.java:524) 
                                                                                                          at androidx.media3.exoplayer.rtsp.RtspClient$MessageListener$$ExternalSyntheticLambda0.run(D8$$SyntheticClass:0) 
                                                                                                          at android.os.Handler.handleCallback(Handler.java:873) 
                                                                                                          at android.os.Handler.dispatchMessage(Handler.java:99) 
                                                                                                          at android.os.Looper.loop(Looper.java:193) 
                                                                                                          at android.os.HandlerThread.run(HandlerThread.java:65) 
```

### Media

.

### Bug Report

- [ ] You will email the zip file produced by `adb bugreport` to android-media-github@google.com after filing this issue.

> [@Mystery406](https://github.com/Mystery406)
> 
> Thank you for providing the stack trace for the issue. It appears that your camera is not providing a correct time range for the RTSP stream? The parser finds issue when reading "npt=0Z-". According to [RFC 2326 Section 3.6](https://www.rfc-editor.org/rfc/rfc2326#page-17) the value is of the following spec:
> 
> ```
> npt-range    =   ( npt-time "-" [ npt-time ] ) | ( "-" npt-time )
> npt-time     =   "now" | npt-sec | npt-hhmmss
> npt-sec      =   1*DIGIT [ "." *DIGIT ]
> npt-hhmmss   =   npt-hh ":" npt-mm ":" npt-ss [ "." *DIGIT ]
> npt-hh       =   1*DIGIT     ; any positive number
> npt-mm       =   1*2DIGIT    ; 0-59
> npt-ss       =   1*2DIGIT    ; 0-59
> ```
> 
> The "Z" in your camera's provided value does not fit the schema. That would fit more closely for Absolute Time rather than Normal Play Time.
> 
> If you could please file an issue with the manufacturer of the device.
> 
> In the meantime, you might be able to fiddle with the time settings of the device to change how it reports that value.

Thank you for your response.

I tried using libvlc to play this RTSP stream, and it worked fine. It’s possible that their parsing of the range time format doesn’t strictly follow the standard. Since our project uses the media library for playing regular videos in other parts, we don’t want to directly integrate libvlc.

Anyway, I’ll try to communicate with the camera manufacturer about this issue.